@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Handjet&family=Tektur&display=swap');



body{
    font-family: 'Assistant', sans-serif;
    background-color: #1F2022;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 120px 0 0 0;
}

.yin{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color: rosybrown;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.yin .navbar ul li {
    position: relative;
    float: left;
}
.yin .navbar ul li a {
    font-size: 18px;
    color: white;
    display: block;
    padding: 20px;
    font-weight: 600;
}

.yin .navbar ul li a:hover{
    color: gold;
}

#yin{
    display: none;
}
.yin-icono{
    width: 25px;
}

.yin label{
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
}
.header-txt{
    flex-basis: 50%;
}
.header-txt h1{
    color: whitesmoke;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 30px;
}

p{
    font-size: 16px;
    color: gray;
}

.btn-1{
    display: inline-block;
    padding: 13px 35px;
    background-color: orange;
    margin-top: 45px;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 25px;
    text-transform: uppercase;
}

.header-img{
    flex-basis: 50%;
    text-align: right;
}
.header-img img {
    width: 550px;
}

.about {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.about-img{
    flex-basis: 50%;
    text-align: center;
}

.about-img img {
    width: 400px;
}
.about-txt{
    flex-basis: 50%;
}

.about-txt span{
    font-size: 20px;
    color: gold;
    font-weight: 800;
}
h2{
    color: whitesmoke;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 30px;
}


.jean {
    padding: 50px 0 50px 0;
    text-align: center;
}
.jean-content{
    margin: 50px 250px 0 250px;
}

.jean-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.jean-img{
    flex-basis: 30%;
}
.jean-img img{
    border-radius: 25px;
    width: 200px;
}

.jean-txt {
    flex-basis: 70%;
    text-align: left;
    margin-left: 30px;
}
.jean-txt h3{
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 10px;
}
.jean-txt p{
    margin-bottom: 10px;
}
.jean-txt span{
    font-size: 17px;
    color: gold;
    font-weight: 800;
}

.products {
    padding: 0 0 100px 0;
    text-align: center;
}

.product-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 50px 0 20px 0;
}

.product-2{
    display: grid;
    grid-template-columns: repeat(3, ifr);
    column-gap: 20px;
    margin-bottom: 25px;
}
